header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    color: #323232;
    margin-top: 10px;
}

header .nav_profile {
    margin-left: 20px;
}


header .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 100px;
}

header .nav a {
    margin: 30px;
}