body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #FDF6F0, #eae7e4);
    margin: 0;
    padding: 0;
}

main {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

main img {
    width: 150px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    color: #555;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
}

form input[type="submit"] {
    background-color: #4e4e4e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #333;
}

p {
    color: #d9534f;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    animation: fadeIn 0.5s ease;
}